<template>
    <div>
        <div class="modal fade" id="log-out" tabindex="-1" role="dialog" aria-labelledby="log-out-modal" style="z-index: 1000">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="log-out-modal">退出</h4>
                    </div>
                    <div class="modal-body">
                        确认退出吗？
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="logOut">退出</button>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-default navbar-fixed">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <p class="navbar-brand">校史校情知识竞赛管理系统 —— <span id="school-name"></span></p>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li @click="loadGeneralData">
                            <a href="#" id="refresh"><span class="glyphicon glyphicon-refresh"></span> 刷新</a>
                        </li>
                        <li @click="downloadExcelOfAllDepartments">
                            <a href="#"><span class="glyphicon glyphicon-th-list"></span>
                                                        导出EXCEL
                                                    </a>
                        </li>
                        <li  data-toggle="modal" data-target="#log-out">
                            <a href="#"><span class="glyphicon glyphicon-off"></span>
                                                        退出
                                                    </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="content tab-content">
            <div class="tab-pane fade in active" id="general">
                <div class="row" style="margin:15px 15px 15px auto">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">全校学生答题情况</h4>
                            </div>
                            <div class="content">
                                <div id="completion-chart-general" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <p> <span class="glyphicon glyphicon-record text-info"></span> 已完成</p>
                                        <p> <span class="glyphicon glyphicon-record text-danger"></span> 未完成</p>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="header">
                                <h4 class="title">全校已完成学生成绩分布情况</h4>

                            </div>
                            <div class="content">
                                <div id="overall-chart-general" class="ct-chart ct-perfect-fourth"></div>

                                <div class="footer">
                                    <div class="legend">
                                        <p> <span class="glyphicon glyphicon-record text-info"></span> 90分及以上</p>

                                        <p> <span class="glyphicon glyphicon-record text-warning"></span> 75分至90分</p>
                                        <p> <span class="glyphicon glyphicon-record" style="color:purple"></span> 60分至75分</p>
                                        <p> <span class="glyphicon glyphicon-record text-danger"></span> 不及格</p>
                                    </div>
                                    <hr>
                                    <div class="stats">
                                        <p>
                                            <span class="glyphicon glyphicon-stats"></span> 平均分：
                                            <span id="average-score-general"></span>分
                                        </p>
                                        <p>
                                            <span class="glyphicon glyphicon-flag"></span> 最高分：
                                            <span id="max-score-general"></span>分
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-8">

                        <div class="card">
                            <div class="header">
                                <div class="row">
                                    <div class="col-md-7">
                                        <h4 class="title">全校各院系概览</h4>
                                        <p class="category">提示：点击相应表头，可以进行排序哦！</p>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="text" class="form-control" id="search-general" placeholder="在此输入院系名...">
                                    </div>
                                </div>
                            </div>

                            <div class="content table-responsive table-full-width restricted" id="table-general">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th class="score" id="dpt">
                                            <span>院系</span>
                                            <i></i>
                                        </th>
                                        <th class="score" id="avg">
                                            <span>平均分</span>
                                            <i></i>
                                        </th>
                                        <th class="score" id="cpl">
                                            <span>完成率 (%)</span>
                                            <i></i>
                                        </th>
                                        <th class="score" id="pta">
                                            <span>90分以上 (%)</span>
                                            <i></i>
                                        </th>
                                        <th class="score" id="ptb">
                                            <span>75分至90分 (%)</span>
                                            <i></i>
                                        </th>
                                        <th class="score" id="ptc">
                                            <span>60分至75分 (%)</span>
                                            <i></i>
                                        </th>
                                        <th class="score" id="ptd">
                                            <span>不及格 (%)</span>
                                            <i></i>
                                        </th>

                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</template>
<script src="./general.ts"></script>
<style scoped>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .restricted {
        max-height: 100%;
        overflow-y: auto;
    }

   /* .score:hover {

        color: #1DC7EA;
        cursor: pointer;
    } */
</style>
