<template>
	<div>
		<!--Header-->
		<div id = "header">
				<div :class="$ans.header_1">校史校情知识竞赛</div>
				<div :class="[$ans.header_2, $ans.time]"></div>														
		</div>
						<!--Footer-->
		<div id="footer" style="display:none">
			<div id="answerCard" >
				<a href="#q1" id="question1" :class="$ans.answered">1</a>
			</div>				
		</div>		
		<!-- Page Wrapper -->
		<div id="page-wrapper">							
			<!-- Wrapper -->
			<div id="wrapper">					
				<!-- 欢迎页 -->						
				<section :class="[$ans.panel, $ans.banner] ">
					<div :class="[$ans.image, $ans.filtered, $ans.span-1-75]" data-position="25% 25%">
						<img src="../../../Images/pic01.jpg" alt="" />
					</div>
					<div :class="[$ans.content, $ans.color4, $ans.span-3-75]">
						<h1 :class="$ans.major">你好，欢迎来到<br />
						校史校情知识竞赛系统</h1>
						<p>本次竞赛共有 <strong><span  id="multiple-sum"></span>道选择题，<span id="TF-sum"></span>道判断题，限时30分钟。</strong></p>
						
						<ul :class="$ans.actions "> 
							<li ><a href="#q1" :class="[$ans.button,$ans.color1,$ans.circle,$ans.icon,$ans.fa-angle-right]" id="start">Next</a></li>
						</ul>
						
					</div>										
				</section>
				<section :class="[$ans.panel, $ans.spotlight, $ans.large, $ans.right]" >								
					<div :class="[$ans.image,  $ans.tinted]" data-position="top left">
						<img src="../../../Images/banner.jpg" alt="" />
					</div>
				</section><!--欢迎页-->
				<!--问题-->
				<div id="quiz-container" :class="$ans.panel">					
				</div>
				<!--提交-->
				<section :class="[$ans.panel ,$ans.spotlight ,$ans.large ,$ans.right]" >								
					<div :class="[$ans.image, $ans.tinted]" data-position="top left">
						<img src="../../../Images/banner.jpg" alt="" />
					</div>
				</section>
				<section :class="$ans.panel" id="submission">						
					<div :class="$ans.gallery">
						<div :class="[$ans.group ,$ans.span-3]">
							<a :class="[$ans.image ,$ans.filtered ,$ans.span-3]" data-position="bottom"><img src="../../../Images/background3.jpg" alt="" /></a>
							<a  :class="[$ans.image ,$ans.filtered ,$ans.span-1-5]" data-position="center"><img src="../../../Images/background4.jpg" alt="" /></a>
							<a  :class="[$ans.image ,$ans.filtered ,$ans.span-1-5]" data-position="bottom"><img src="../../../Images/background5.jpg" alt="" /></a>
						</div>
						</div>
					<div :class="[$ans.intro ,$ans.color4]">
						<h2 :class="$ans.major">感谢！</h2>
						<input type="submit" value="Submit" onclick="submit()" :class="[$ans.special, $ans.color4]" />
					</div>
					<div :class="$ans.gallery">
						<div :class="[$ans.group ,$ans.span-3]">
							<a :class="[$ans.image ,$ans.filtered ,$ans.span-3]" data-position="bottom"><img src="../../../Images/background0.jpg" alt="" /></a>
							<a  :class="[$ans.image ,$ans.filtered ,$ans.span-1-5]" data-position="center"><img src="../../../Images/background1.jpg" alt="" /></a>
							<a  :class="[$ans.image ,$ans.filtered ,$ans.span-1-5]" data-position="bottom"><img src="../../../Images/background2.jpg" alt="" /></a>
						</div>							
					</div>
				</section><!--提交-->																																																											
			</div>
		</div><!--End of Page Wrapper-->
	</div>
</template>
<style src = "./ans.css" module = "ans"></style>




<!------------------------备份--------------------------->
		<div id = "header">
				<div class = "header_1">校史校情知识竞赛</div>
				<div class="header_2 time"></div>														
		</div>
						<!--Footer-->
		<div id="footer" style="display:none">
			<div id="answerCard" >
				<a href="#q1" id="question1" class="answered">1</a>
			</div>				
		</div>		
		<!-- Page Wrapper -->
		<div id="page-wrapper">							
			<!-- Wrapper -->
			<div id="wrapper">					
				<!-- 欢迎页 -->						
				<section class="panel banner ">
					<div class="image filtered span-1-75" data-position="25% 25%">
						<img src="../../../Images/pic01.jpg" alt="" />
					</div>
					<div class="content color4 span-3-75">
						<h1 class="major">你好，欢迎来到<br />
						校史校情知识竞赛系统</h1>
						<p>本次竞赛共有 <strong><span  id="multiple-sum"></span>道选择题，<span id="TF-sum"></span>道判断题，限时30分钟。</strong></p>
						
						<ul class="actions "> 
							<li ><a href="#q1" class="button  color1 circle icon fa-angle-right" id="start">Next</a></li>
						</ul>
						
					</div>										
				</section>
				<section class="panel spotlight large right" >								
					<div class="image  tinted" data-position="top left">
						<img src="../../../Images/banner.jpg" alt="" />
					</div>
				</section><!--欢迎页-->
				<!--问题-->
				<div id="quiz-container" class="panel">					
				</div>
				<!--提交-->
				<section class="panel spotlight large right" >								
					<div class="image  tinted" data-position="top left">
						<img src="../../../Images/banner.jpg" alt="" />
					</div>
				</section>
				<section class="panel" id="submission">						
					<div class="gallery">
						<div class="group span-3">
							<a class="image filtered span-3" data-position="bottom"><img src="../../../Images/background3.jpg" alt="" /></a>
							<a  class="image filtered span-1-5" data-position="center"><img src="../../../Images/background4.jpg" alt="" /></a>
							<a  class="image filtered span-1-5" data-position="bottom"><img src="../../../Images/background5.jpg" alt="" /></a>
						</div>
						</div>
					<div class="intro color4">
						<h2 class="major">感谢！</h2>
						<input type="submit" value="Submit" onclick="submit()" class="special color4" />
					</div>
					<div class="gallery">
						<div class="group span-3">
							<a class="image filtered span-3" data-position="bottom"><img src="../../../Images/background0.jpg" alt="" /></a>
							<a  class="image filtered span-1-5" data-position="center"><img src="../../../Images/background1.jpg" alt="" /></a>
							<a  class="image filtered span-1-5" data-position="bottom"><img src="../../../Images/background2.jpg" alt="" /></a>
						</div>							
					</div>
				</section><!--提交-->																																																											
			</div>
		</div><!--End of Page Wrapper-->
