<template>
	<div>
		<div id="page-wrapper">
			<!-- Wrapper -->
			<div id="wrapper">
				<section id="sec1" class="panel banner ">
					<div class="image filtered span-1-75" data-position="25% 25%">
						<img src="../../../../Images/pic01.jpg" alt="" />
					</div>
					<div class="content color4 span-3-75">
						<h1 class="major">你好，欢迎来到<br /> 校史校情知识竞赛系统
						</h1>
						<p>本次竞赛共有 <strong><span  id="multiple-sum"></span>道选择题，<span id="TF-sum"></span>道判断题，限时30分钟。</strong></p>

						<ul class="actions ">
							<li><a href="#" class="button color1 circle icon fa-angle-right" id="start">Next</a></li>
						</ul>

					</div>
				</section>

				<section id="sec2" class="panel spotlight large right">
					<div class="image  tinted" data-position="top left">
						<img src="../../../../Images/banner.jpg" alt="" />
					</div>
				</section>
				<div id="quiz-container" class="panel">
				</div>
				<!--提交-->
				<section class="panel spotlight large right" id="banner">
					<div class="image  tinted" data-position="top left">
						<img src="../../../../Images/banner.jpg" alt="" />
					</div>
				</section>
				<section class="spanel" id="submission">
					<div class="gallery">
						<div class="group span-3">
							<a class="image filtered span-3" data-position="bottom"><img src="../../../../Images/background3.jpg" alt="" /></a>
							<a class="image filtered span-1-5" data-position="center"><img src="../../../../Images/background4.jpg" alt="" /></a>
							<a class="image filtered span-1-5" data-position="bottom"><img src="../../../../Images/background5.jpg" alt="" /></a>
						</div>
					</div>
					<div class="intro color4">
						<h2 class="major">感谢！</h2>
						<input id="submit" type="submit" value="Submit" class="special color4" />
					</div>
					<div class="gallery">
						<div class="group span-3">
							<a class="image filtered span-3" data-position="bottom"><img src="../../../../Images/background0.jpg" alt="" /></a>
							<a class="image filtered span-1-5" data-position="center"><img src="../../../../Images/background1.jpg" alt="" /></a>
							<a class="image filtered span-1-5" data-position="bottom"><img src="../../../../Images/background2.jpg" alt="" /></a>
						</div>
					</div>
				</section>
			</div>
		</div>
		<div id="footer" style="display:none">
			<div id="answerCard">
				<a href="#" id="question1" class="answered">1</a>
			</div>
		</div>
	</div>
</template>
