<template>
    <div class="main-nav">
        <div class="navbar navbar-inverse">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">校史校情竞赛系统</a>
            </div>  
            <div class="clearfix"></div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id = "list1">
                        <router-link to="/" :exact="true">
                            <span class="glyphicon glyphicon-home"></span> 主页
                        </router-link>
                    </li>
                    <li id = "list2">
                        <router-link to="/counter">
                            <span class="glyphicon glyphicon-th-list"></span> 开始测试
                        </router-link>
                    </li>
                    <li id = "list3">
                        <router-link to="/fetchdata">
                            <span class="glyphicon glyphicon-education"></span> 成绩
                        </router-link>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<style src="./navmenu.css" />
