<!DOCTYPE HTML>
<head>
	<meta charset="gb2312"/>
	<meta charset="utf-8"/>
	<title>东南大学校史校情竞赛系统</title>
	<script charset = "utf-8" language = "javascript" type = "text/javascript" src = "jquery.js"></script>
	<script charset = "utf-8" language = "javascript" type = "text/javascript" src = "index.js"></script>
	<link rel="stylesheet" type="text/css" href="index.css">
</head>
<body>
	<div class = "header">
		<div class = "header_1">东南大学2017校史校情知识竞赛</div>
		<div class = "header_2" onclick="window.close()" >退出</div>
	</div>
	<div id = "wrapper" class = "wrapper">
		<nav>
			<div class = "cnt" id = "cnt" >
				1
			</div>	
		</nav>
		<div class = "content">
			<div class = "question_region">
				<div class = "empty"></div>
				<div class = "question">问题区域</div>
				<div class = "clock">倒计时 <span id = "minute">0分</span><span id ="second">0秒</span></span></div>
			</div>
			<div class = "progress_bar">
				<div class = "show_progress">
				</div>
			</div>
			<div class = "option_region">
				<div class = "btnl">
					<div class = "last" onclick="getLast()"></div>
				</div>
				<div class = "option">
					<div id = "optionA" class = "options" onclick ="choose(this)" >A</div>
					<div id = "optionB" class = "options" onclick ="choose(this)">B</div>
					<div id = "optionC" class = "options" onclick ="choose(this)">C</div>
					<div id = "optionD" class = "options" onclick ="choose(this)">D</div>
				</div>
				<div class = "btnr">
					<div class = "next" onclick="getNext()"></div>

				</div>
			</div>
		</div>
	</div>
	
</body>