@{
    ViewData["Title"] = "东南大学 · 校史校情知识竞赛";
}

@{ 
    var isLoggedIn = false;
    var id = "";
    var role = "";
    if (Context.Session.Get("id") != null)
    {
        isLoggedIn = true;
        role = Context.User.FindFirst(c => c.Type == ClaimTypes.Role).Value;
        id = Context.Session.GetString("id");
    }
}

<div id='app-root'>No Content...</div>

<script>
    window.user = { isLoggedIn: @isLoggedIn.ToString().ToLowerInvariant(), id: "@id", role: "@role" };
</script>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
