<template>
    <div class="wrapper">

        <!-- <div class="row"> -->
        <div class="sidebar" data-color="blue" data-image="/dist/Images/sidebar.png">
            <div class="sidebar-wrapper">
                <div class="logo">
                    <img src="/dist/Images/logo-including-name.png">
                </div>
                <ul class="nav nav-pills nav-stacked">
                    <li class="active">
                        <a id="statis" @click="goToStatis" data-toggle="tab">
                            <i class="glyphicon glyphicon-tasks"></i>
                            <p class = "T">成绩统计</p>
                            <!-- <router-link to="/dashboard/statistics"><p >成绩统计</p></router-link> -->
                        </a>
                    </li>
                    <li>
                        <a id="general" @click="goToGeneral" data-toggle="tab">
                            <i class="glyphicon glyphicon-equalizer"></i>
                            <p class = "T">院系概览</p>
                            <!-- <router-link to="/dashboard/general"><p>院系概览</p></router-link> -->
                        </a>
                    </li>
                    <li id="wiki" style = "display:none">
                        <a  @click="goToWiki" data-toggle="tab">
                            <i class="glyphicon glyphicon-book"></i>
                            <p class = "T">wiki</p>
                            <!-- <router-link to="/dashboard/general"><p>院系概览</p></router-link> -->
                        </a>
                    </li>
                    <li id="api" style = "display:none">
                        <a  @click="goToApi" data-toggle="tab">
                            <i class=" glyphicon glyphicon-info-sign"></i>
                            <p class = "T">api</p>
                            <!-- <router-link to="/dashboard/general"><p>院系概览</p></router-link> -->
                        </a>
                    </li>
                    <li id="ansSheet" style = "display:none">
                        <a  @click="goToAnsSheet" data-toggle="tab">
                            <i class="glyphicon glyphicon-edit"></i>
                            <p class = "T">答题页</p>
                            <!-- <router-link to="/dashboard/general"><p>院系概览</p></router-link> -->
                        </a>
                    </li>


                </ul>
            </div>
        </div>
        <div class="main-panel">

            <router-view></router-view>
            <footer class="footer">
                <div class="container-fluid">
                    <p class="copyright pull-right">
                        Copyright &copy; 2017 东南大学计算机科学与工程学院、软件学院
                    </p>
                </div>
            </footer>
        </div>

    </div>

    <!-- </div> -->
    <!-- </div> -->
</template>
<style src="./dashboard.css"></style>
<style>
    img {
        max-width: 100%;
        max-height: 100%;
    }

    .restricted {
        max-height: 500px;
        overflow-y: auto;
    }

    .table>thead>tr>th.score:hover {

        color: #1DC7EA;
        cursor: pointer;
    }
</style>
<script src='./dashboard.ts'></script>