<template>
    <div class = "backgrounds">
        <img src = "/dist/Images/background8.jpg" class = "bg">
        <div id='app-root' style="height:100%"  class = "inside container-fluid">
            <login-component />
        <!-- class="container-fluid" >-->
        <!--
            <div class="row">
                <div class="col-sm-3">
                    <menu-component />
                </div>
                <div class="col-sm-9">
                <router-view></router-view>
                </div>
            </div>-->
        </div> 
        </div>
    </div>
</template>
<style src = "./app.css"></style>
<script src="./app.ts"></script>
