
/* Keep the nav menu independent of scrolling and on top of other items */
.background {
    background:url(../../../Images/background1.jpg);
    position: fixed;
    top: 0; 
    left: 0;
    right: 0;
}

@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    .background{
        height:100%;
    }
    .background .inside{
        background:rgba(255,255,255,0.8);
        border-radius: 0px;
        border-width: 0px;
        height: 100%;        
    }
    /* On small screens, convert the nav menu to a vertical sidebar */
   /* .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        background-color:rgba(0,162,232,0.8);
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #fff;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
                font-size: 20px;

    }
    .main-nav .navbar li {
        float: none;
        font-size: 18px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 18px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
}
