
/* Keep the nav menu independent of scrolling and on top of other items */
.backgrounds {
    background-image:url(../../../Images/background2.jpg);
    position: fixed;
    background-position: center;
    top: 0; 
    left: 0;
	right:0;
	bottom:0;
}

h1{
	color:red;
}
.header{
	padding:30px;
	width:100%;
	height:25%;
}
.container{
	margin-top:60px;
	margin-bottom: 60px;
}
.form-horizontal{
	background:rgba(255,255,255,0.6);
	max-width: 540px;
	margin:auto;
	padding-bottom: 25px;
	border-radius: 15px;
	text-align: center;
}
.form-horizontal .heading{
	display: block;
	font-family:FZYaoti;
	background:rgba(255,255,255,0.6);
	border-radius:15px 15px 0 0px;
	font-size: 35px;
	font-weight: 700;
	padding: 35px 0;
	
	margin-bottom: 30px;
}
.form-horizontal .form-group{
	padding: 0;
	font-family: Microsoft Yahei;
	margin: 15px 60px;
	position:relative;
}
.form-horizontal .form-control{
	background: #f0f0f0;
	opacity: 0.8;
	border: none;
	border-radius: 20px;
	box-shadow: none;
	padding: 0 50px 0 80px;
	height: 40px;
	transition: all 0.3s ease 0s;
}
.form-horizontal .form-control:focus{
	background: #e0e0e0;
	opacity: 0.8;
	box-shadow: none;
	outline: 0 none;
}
.form-horizontal .form-group span{
	position: absolute;
	top: 12px;

	left: 45px;
	font-size: 16px;
	color: #c8c8c8;
	animation: loaded 0.8s ease 0s 1 normal;
	transition: all 0.5s ease 0s;
}
.form-horizontal .form-control:focus + span{
	color: #00b4ef;
}


.form-horizontal .btn{
	float: right;
	font-size: 14px;
	color: #fff;
	background: #00b4ef;
	border-radius: 30px;
	padding: 10px 25px;
	border: none;
	transition: all 0.5s ease 0s;
}

.form-horizontal a{
	display:block;
	float:left;
	font-size:14px;
	padding: 10px 25px;
}
@media only screen and (max-width: 479px){
	.header{
		text-align: center;
	}
	.form-horizontal .form-group{
		margin: 15px 25px;
	}
	.form-horizontal .form-group i{
		left: 45px;
	}
	.form-horizontal .btn{
		padding: 10px 20px;
	}

}

@keyframes loaded{
	from{
		left:0px;
	}
	to{
		left:45px;
	}
}

@media (max-width: 767px) {
    body {
        padding-top: 50px;
    }   
}

@media (min-width: 768px) {
    .background{
        height:100%;
    }
    .background .inside{
       /* background:rgba(255,255,255,0.8);*/   
        border-radius: 0px;
        border-width: 0px;
        height: 100%;        
    }
    /* On small screens, convert the nav menu to a vertical sidebar */
   /* .main-nav {
        height: 100%;
        width: calc(25% - 20px);
    }
    .main-nav .navbar {
        background-color:rgba(0,162,232,0.8);
        border-radius: 0px;
        border-width: 0px;
        height: 100%;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #fff;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
                font-size: 20px;

    }
    .main-nav .navbar li {
        float: none;
        font-size: 18px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 18px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }*/
}
