<template>
    <div id="app-root">
        <!-- <div class="backgrounds" id="app-root"> -->
        <p>
            <router-link to="/login">login</router-link>
            <router-link to="/ans">ans</router-link>
            <router-link to="/dashboard">dashboard</router-link>
        </p>
        <router-view></router-view>

        <!-- <login-component /> -->
        <!-- <ans-component /> -->
        <!-- class="container-fluid" >-->
        <!--
            <div class="row">
                <div class="col-sm-3">
                    <menu-component />
                </div>
                <div class="col-sm-9">
                <router-view></router-view>
                </div>
            </div>-->
    </div>
</template>
<script src="./app.ts"></script>
